.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../images/bannner-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: inherit;
  padding-top: 17rem;
  padding-bottom: 10rem;
}

.home .content {
  text-align: center;
  width: 60rem;
}

.home .content h3 {
  color: var(--black);
  font-size: 3rem;
}

.home .content h3 span {
  color: var(--green);
}

.home .content p {
  color: #ffff00;
  background-color: rgb(34, 35, 36);
  opacity: 0.7;
  font-size: 1.7rem;
  padding: 1rem 0;
  line-height: 1.8;
}

.home .content .btn {
  color: #ffff00;
}

.home .content .btn:hover {
  color: white;
}
